* {
    box-sizing: border-box;
}

body {
    background-color: rgb(74, 74, 74);
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    overflow: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#stats {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    min-width: 200px;
}

#game-area {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
}

#controls {
    width: auto;
    color: white;
    padding: 20px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#controls button {
    background-color: orange;
    border: 2px solid white;
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#gameboard {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 1px;
    background-color: beige;
}

.row {
    display: flex;
    height: 100%;
    gap: 1px;
    align-items: stretch;
}

.cell {

    text-align: center;
    align-content: center;
    /*border: 1px solid rgb(90, 90, 90); */
    color: rgb(90, 90, 90);
}

.easy {
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 30px;
}

.medium {
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
}

.hard {
    width: 20px;
    height: 20px;
    padding: 0px;
    font-size: 8px;
}

.zero {
    color: transparent;
}

.one {
    color: lightgreen;
}

.two {
    color: cornflowerblue;
}

.three {
    color: lightpink;
}

#gameoverlay {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.overlay {
    background-color: darkgreen;
    transition: 1s;
    cursor: pointer;
}

.explode {
    animation: zoom 1s ease-out 0s 1;
    animation-fill-mode: backwards;
}

.shatter-left {
    animation: pop-left 0.5s ease-out 0s 1;
    animation-fill-mode: forwards;
}

.shatter-right {
    animation: pop-right 0.5s ease-out 0s 1;
    animation-fill-mode: forwards;
}

.shake {
    animation: shake 0.1s ease-out 0s 5;
    animation-fill-mode: backwards;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(10.0);
    }
}

@keyframes pop-left {
    0% {
        transform: translate(0px, 0px) scale(1.0);
    }

    50% {
        transform: translate(-20px, -20px) scale(0.8);
    }

    100% {
        transform: translate(-40px, 20px) scale(0.1);
        opacity: 0;
    }
}

@keyframes pop-right {
    0% {
        transform: translate(0px, 0px) scale(1.0);
    }

    50% {
        transform: translate(20px, -20px) scale(0.8);
    }

    100% {
        transform: translate(40px, 20px) scale(0.1);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translate(0%, 0%);
    }

    33% {
        transform: translate(-2%, 0%);
    }

    66% {
        transform: translate(2%, 0%);
    }
}